/* css styles */

#quarto-content {
    margin-left: calc(50% - 50vw);
    width: 100vw;
}

#quarto-sidebar {
    margin-left: calc(50% - 20vw);
    width: 13vw;
}

#quarto-document-content {
    margin-left: calc(50% - 25vw);
    width: 50vw;
}

#quarto-margin-sidebar {
    margin-left: calc(50% + 7vw);
    width: 20vw;
  }